server.port=8080
spring.datasource.url=jdbc:h2:mem:bankingapp;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
spring.datasource.username=sa
spring.datasource.password=password
spring.datasource.driver-class-name=org.h2.Driver
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.generate-ddl=true
spring.jpa.show-sql=false
spring.jpa.hibernate.ddl-auto=update
spring.main.allow-circular-references=true
server.error.include-message=always

# JWT
jwt.secret=your-secret-key
# Token expiration time in milliseconds (e.g., 24 hours)
jwt.expiration=86400000
jwt.header=Authorization
jwt.prefix=Bearer

